*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buttonWsp{
    position: fixed;
    bottom: 0;
    right: 0px;
    margin: 20px;
    z-index: 5;
}
/*nav*/

.menu-fixed{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;

}


.titleInd{
    font-size: 24px;
    position: sticky;    
    z-index: 2;    
    padding: 6px;
    top: 20px;
    margin-right: 600px;
    color: whitesmoke;
    background-color: black;
    font-style: italic;
    overflow: hidden;
    text-shadow: 0 0 5px red;
}

nav ul{

        background-color: black;
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        left: 0px;
        box-shadow: 3px 7px 19px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 3px 7px 19px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 7px 19px 0px rgba(0,0,0,0.75);
        overflow: hidden;
        margin-top: 0px;
        padding: 15px;
        
        
    }
    nav ul li {
            position: sticky;
            display: inline-block;
            padding: 10px;
            font-size: 14px;   
            top: 0;
            text-decoration: none;
            margin-right: 1.4rem;

    
        }
        nav ul li a {
                top: 0;
                position: sticky;
                color: white;
                text-decoration: none;
                padding: 10px;
                height: 400px;
            }
            nav ul li a:hover {

                transition: 0.4s;
                background-color: whitesmoke;
                color: black;
                
            }
            .navImg{
                top: 0;
                z-index: 3;
                box-shadow: 7px 8px 12px black ;
                position: fixed;
                left: 20px;
                padding-left: 0px;
                top: 10px;
                width: 100px;
                height: 100px;
                
            
    
            }
/*fin nav*/

.conteiner{
    width: 100%;
    height: 100vh;
}

.conteiner{
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../img/fondo.jpg) top center fixed;
    background-size: cover;
}
.conteinerBackground{
    background: rgba(0, 0, 0 , 0.4);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.tituloImg, .subtituloImg{
    display: flex;
    text-shadow:  red 1px 2px 1px;
    justify-content: center;
    align-items: center;
    
}

.tituloImg{
    margin-top: 90px;
    color: whitesmoke;
    font-size: 50px
}
.subtituloImg{
    
    color: whitesmoke;
    font-size: 30px;
    margin-top: 90px;
    
}

.buttons{
    margin:40px;
    margin-top: 80px;
    font-size: 30px;
}

.button1{
    border-radius: 20px;
    
    color: white;
    background-color: red;
    padding: 20px;
    padding-inline: 40px;
    text-decoration: none;
    margin-right: 140px;
}
.button1:hover{
    background-color: whitesmoke;
    color: black;
}
.button2{
    border-radius: 20px;
    color: white;
    background-color: black;
    padding: 20px;
    padding-inline: 40px;
    text-decoration: none;
}
.button2:hover{
    background-color: whitesmoke;
    color: black;

}

body{
    background-color: beige;
}
.main{
    background-color: beige;
    margin-top: 0px;
    height: 800px;

}
.nosotros{
    margin-top: 0px;
    background-color: aliceblue;
    margin-inline: 50px;
    border-radius: 50px;
    border: solid black 1px;
}
.acerca{

    margin-top: 0px;
    margin-inline: 50px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    padding: 40px;
}
.acercaP{

    padding: 40px;
    margin-inline: 50px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}
.señora{
    margin-inline: 300px;
    margin-top: 80px;
    border-radius: 100%;
    
}


.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-left: 8px;
    }
    @-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 



.contactanos{
    margin-top: 50px;
    margin-left: 500px;
    display: flex;
    width: 300px;
    height: 200px;
    background-color: green;
    display: grid;
    grid-template-areas: "text"
                        "img";
    border-radius: 30px;
    border: double 10px whitesmoke;
    
}
.contactoImg{
    grid-area: img;
    width: 180px;
    height: 80px;
    margin-top: 5px;
    align-items: center;
    padding-left: 100px;
}
.contactoText{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-inline: 10px;
    grid-area: text;
    color: whitesmoke;
}

.tada {
    
    -webkit-animation-name: tada;
    animation-name: tada;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 

.lineData{
    color: whitesmoke;
    text-shadow:  black 1px 2px 1px;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    background-color: #620032;
    box-shadow: black 1px 2px 1px;
}

.gallery{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

.imgData{
    font-size: 18px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px;
    margin-bottom: 60px;
    width: 550px;
    height: 400px;
}
.imgData2{
    font-size: 18px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px;
    margin-bottom: 60px;
    width: 550px;
    height: 500px;
}

.metodosConteiner{
    margin-top: 40px;
    background-color: white;
    border: solid black 7px;
    height: 240px;
    width: 100%;
    width: 100%;
}
.metodosText{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.metodos{
    display: flex;
    height: 130px;
    justify-content: center;
    justify-content: space-around;   
}

section{
    margin-top: 3000px;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 

.terminos{
    background-color: black;
}
.terminos h1, .terminos h2{
    color: white;
}
